<div class="container">
    <div class="card">
        <div class="card-header text-center">Select a Application</div>
        <div class="card-body app-grid ">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Notes App</h2>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, odit voluptatibus. Beatae aliquam voluptate iusto voluptatibus asperiores rem! Molestiae, tempora?</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa quis sed sint nihil cum amet quo omnis nobis maxime. Corporis esse nemo vero asperiores ex, dolore recusandae fugiat culpa cum.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/apps/notes/<%= user.id %> " class="btn btn-primary">Go Ahead!</a>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <div class="card-title">
                        <h2>Notes App</h2>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, odit voluptatibus. Beatae aliquam voluptate iusto voluptatibus asperiores rem! Molestiae, tempora?</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa quis sed sint nihil cum amet quo omnis nobis maxime. Corporis esse nemo vero asperiores ex, dolore recusandae fugiat culpa cum.</p>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a href="/users/notes/" class="btn btn-primary">Go Ahead!</a>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <div class="card-title">
                        <h2>Notes App</h2>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, odit voluptatibus. Beatae aliquam voluptate iusto voluptatibus asperiores rem! Molestiae, tempora?</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa quis sed sint nihil cum amet quo omnis nobis maxime. Corporis esse nemo vero asperiores ex, dolore recusandae fugiat culpa cum.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/users/notes/" class="btn btn-primary">Go Ahead!</a>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <div class="card-title">
                        <h2>Notes App</h2>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, odit voluptatibus. Beatae aliquam voluptate iusto voluptatibus asperiores rem! Molestiae, tempora?</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa quis sed sint nihil cum amet quo omnis nobis maxime. Corporis esse nemo vero asperiores ex, dolore recusandae fugiat culpa cum.</p>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a href="/users/notes/" class="btn btn-primary">Go Ahead!</a>
                </div>
            </div>
        </div>
    </div>
</div>