<div class="container mb-5">
    <div class="card ">
        <div class="card-header ">
            <h2 class="text-center">About it</h2>
        </div>
        <div class="card-text mx-5 my-3">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ex aut rerum quisquam tenetur similique fugit sequi repudiandae numquam, excepturi accusantium inventore culpa molestiae provident obcaecati deleniti natus magni, optio voluptates
                quam facere accusamus nisi? Vel perferendis repudiandae velit sed quod, voluptatem hic asperiores magni aperiam? Nisi alias dicta totam itaque ex deleniti vel mollitia magni incidunt, fugiat amet sed?</p>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="card-group">
        <div class="card ">
            <div class="card-header ">How to use</div>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolorem sapiente earum ratione quas vel corrupti? Officia asperiores error veritatis?</p>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card ">
            <div class="card-header ">How long does it last</div>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem labore atque numquam est, voluptate aperiam?</p>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card ">
            <div class="card-header ">For Free</div>
            <div class="card-body">
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, modi unde perferendis repellendus nesciunt omnis necessitatibus officiis maxime culpa velit voluptatem, illum recusandae quas, assumenda sint sunt. Dolorum quasi iusto quam
                    perspiciatis nulla, sequi dolor cupiditate? Cum neque reprehenderit repellat error. Laboriosam sunt laborum animi. Perferendis quae eos accusamus autem!</p>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>