<div class="container">
    <div class="card">
        <div class="card-body">
            <div>
                <h1 class="main-title text-center">We give the best service <br> That you can find</h1>
            </div>
            <div class="card-text fs-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quae facilis laudantium aut, quos expedita quas culpa dolorem, libero doloremque odio magnam? Error, delectus autem. Ullam fuga nisi quo et necessitatibus, nulla vel aperiam eligendi
                vero, exercitationem explicabo! Vel, minima.
            </div>
            <hr>
            <img class="card-img rounded-2 " src="https://images.pexels.com/photos/6609111/pexels-photo-6609111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        </div>


    </div>
</div>