<div class="container mb-5">
    <div class="card ">
        <div class="card-header ">
            <h2 class="text-center">Contact</h2>
        </div>
        <div class="card-text mx-5 my-3">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ex aut rerum quisquam tenetur similique fugit sequi repudiandae numquam, excepturi accusantium inventore culpa molestiae provident obcaecati deleniti natus magni, optio voluptates
                quam facere accusamus nisi? Vel perferendis repudiandae velit sed quod, voluptatem hic asperiores magni aperiam? Nisi alias dicta totam itaque ex deleniti vel mollitia magni incidunt, fugiat amet sed?</p>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="card-group">
        <div class="card">
            <div class="card-header">Fill up the fields</div>
            <div class="card-body">
                <h4 class="card-title">Contact Us</h4>
                <form action="/contact" method="post">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input required autofocus name="name" id="name" type="text" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" required id="message" name="message" cols="30" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </form>
            </div>
        </div>

    </div>

</div>