<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Get Started</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum enim aut corrupti, cupiditate repellendus quaerat dolorem, nostrum dolore ab sequi nam. Mollitia, in fuga officia nisi recusandae praesentium excepturi, cupiditate quae corrupti
                atque quasi inventore magni delectus commodi consequatur tempore. Adipisci dignissimos deleniti nam, ducimus voluptas nisi? Dolore sunt libero ipsam, atque voluptates laudantium!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, placeat? Cum deserunt harum eum quasi. Voluptate, excepturi. Nihil odio suscipit nulla, eos optio dolorum doloribus? Deserunt velit eum itaque? Placeat nisi soluta corporis alias
                labore nulla voluptatem quibusdam facilis molestias!</p>
            <a href="/users/signup" class="btn btn-primary">Go Ahead!</a>
        </div>
    </div>
</div>