<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <% if (user) { %>
            <div class="justify-self-right">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apps/">Apps</a>
                    </li>
                </ul>
            </div>
            <% } else { %>
                <div class="justify-self-right">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/users/signin">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/signup">Sign Up</a>
                        </li>
                    </ul>
                </div>
                <% } %>

    </div>
</nav>